[access]
	inheritFrom = All-Projects
[project]
	description = The TLDK (Transport Layer Development Kit) project will implement a set of libraries for L4 protocol processing (UDP, TCP etc.) and VPP graph nodes, plugins, etc using those libraries to implement a host stack.
[access "refs/*"]
	owner = group ldap/fdio-gerrit-tldk-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[receive]
	requireSignedOffBy = false
