[access]
	inheritFrom = All-Projects
[project]
	description = *** ARCHIVED ***\nThe TLDK (Transport Layer Development Kit) project will implement a set of libraries for L4 protocol processing (UDP, TCP etc.) and VPP graph nodes, plugins, etc using those libraries to implement a host stack.
	state = read only
[access "refs/*"]
	owner = group saml/fdio-gerrit-tldk-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[receive]
	requireSignedOffBy = true
[plugin "its-jira"]
	enabled = true
